{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}

<!-- Profile Details Container -->
<div class="container">
    <br><br>
    <div class="row">
        <!-- Profile Picture  -->
        <div class="col-md-5">
            <br>
            {% if user.username.profile %}
            <img class="img-fluid" src='{{ profile.profile_image.url }}' alt="{{ profile.user.username }}" style="width: 100%;">
            {% else %}
            <img class="img-fluid" src='{{ profile.profile_image.url }}' alt="default profile photo"
                style="width: 100%;">
            {% endif %}
            <br>
        </div>
        <!-- Profile Details -->
        <div class="col-md-7 shadow-lg p-3 mb-5 rounded">
            <h3 class="card-title">{{ profile.user.username }}</h3>
            <ul style="font-size: 20px;">
                <li><span>Name: <b>{{ profile.first_name }} {{ profile.last_name }}</b></span></li>
                <li>Location: {{ profile.location }}</li>
            </ul>
            <p class="lead">{{ profile.bio }}</p>
            {% if user.is_authenticated and user == profile.user %}
            <a href="{% url 'editProfile' user.username %}" class="btn">Edit Profile</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Game list Container -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Played Games -->
            <h3>Played Games</h3>
            <ul>
                {% for game in profile.played.all %}
                <li>
                    <a href="{% url 'game_details' game.gameID %}">{{ game.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Games to Play -->
            <h3>Games to play</h3>
            <ul>
                {% for game in profile.to_play.all %}
                <li>
                    <a href="{% url 'game_details' game.gameID %}">{{ game.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}