@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Ubuntu&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(20, 24, 28);
  color: rgb(153, 169, 187);
  font-family: "Noto Serif";
}

.footer-color {
  background-color: rgb(20, 24, 28);
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3 {
  font-family: Ubuntu, sansserif;
}

#navi {
  background-color: rgb(20, 24, 28);
}

#logo {
  padding-left: 10px;
}

#welcome-header {
  color: rgb(153, 169, 187);
  font-size: 80px;
}

.parallax-container {
  height: 500px;
}

.parallax-div {
  height: 300px;
}

.parallax-p {
  font-size: 35px;
}

.center-header {
  display: flex;
  justify-content: center;
}

.parallax-search {
  height: 300px;
}

.search-div {
  height: 30vh;
}

input {

  background-color: #7e0e0e;

}

.info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.info-text {
  font-size: larger;
  width: 400px;
}

.card {
  background: #222224 !important;
  font-size: larger;
  font-family: Ubuntu, sansserif;
}

.learn-more {
  padding: 24px;
}

.game-btn {
  margin-left: 5px;
  margin-top: 5px;
}

.form-display {
  display: block;
}

.collection {
  border: 5px solid #3b3b3b;
}

.collection .collection-item {
  background-color: #222224;
}

.dropdown-content {
  background-color: rgb(30, 34, 37);
  color: rgb(153, 169, 187);
}

input {
  color: white;
}

.textinput {
  color: white;
}

.textinput:focus {
  color: white;
}

.emailinput {
  color: white;
}

.emailinput:focus {
  color: white;
}

button.btn {
  color: black;
}

a.btn {
  color: black;
}

a.btn-large{
  color: black;
}

#profile-link {
  color: white;
}

small {
  color: white;
}

.text-muted{
  color: rgb(153, 169, 187) !important;
}

@media screen and (max-width:500px) {

  .sidenav{
    width: 60%;
  }

  #welcome-header{
    font-size: 50px;
  }

  #site-description{
    font-size: 30px !important;
  }

  .info-block{
    padding-top: 60px;
  }

  .info-text{
    width: 90%;
  }

  .fa-magnifying-glass{
    display: none !important;
  }
}