{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-5">
            <br>
            {% if user.username.profile %}
            <img class="img-fluid" src='{{ user.profile.profile_image.url }}' alt="user.username" style="width: 100%;">
            {% else %}
            <img class="img-fluid" src='{{ user.profile.profile_image.url }}' alt="default profile photo" style="width: 100%;">
            {% endif %}
            <br>
        </div>
        <div class="col-md-7 shadow-lg p-3 mb-5 rounded">
            <h3 class="card-title">{{ user.username }}</h3>
            <ul style="font-size: 20px;">
                <li><span>Name: <b>{{ user.profile.first_name }} {{ user.profile.last_name }}</b></span></li>
                <li>Location: {{ user.profile.location }}</li>
            </ul>
            <p class="lead">{{ user.profile.bio }}</p>
            <a href="{% url 'editProfile' %}" class="btn">Edit Profile</a>
        </div>
    </div>
</div>

{% endblock %}
