{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page container -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 center">
            {% if user.is_authenticated and user == review.user %}
            <form method="post" action="" role="form">
                <!-- Delete confirmation form -->
                {% csrf_token %}
                <h2>Are you sure you want to Delete your review?</h2>
                <button type="submit" name="action" class="waves-effect waves-light btn red center">Delete</button>
            </form>
            {% else %}
            <!-- Error if user is not authorized to delete review -->
            <h2>This is not your review</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}