{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-5">
            <br>
            <img class="img-fluid" src='{{ game_data.background_image }}' alt="" style="width: 100%;">
            <br><br>
            <h3 class="card-title text-center ">{{ game_data.name }}</h3>
            <br>
            <h4 class="title center">Rated <b>{{ reviews_avg.rate__avg|floatformat:"-1" }}</b> by
                <b>{{ reviews_count }}</b> people</h4>
        </div>
        <div class="col-md-7 shadow-lg p-3 mb-5 rounded">
            <p class="lead">{{ game_data.description_raw }}</p>
            <ul>
                <li><span>Released: <b>{{ game_data.released }}</b></span></li>
                <li>
                    Game ID: {{ game_data.id }}
                </li>
                <li>Genre:
                    {% for genre in genres %}
                    {{ genre.name }},
                    {% endfor %}
                </li>
                <li>Platforms:
                    {% for platform in platforms %}
                    {{ platform.platform.name }},
                    {% endfor %}
                </li>
                <li>Developer:
                    {% for developer in developers %}
                    {{ developer.name }},
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div>


            <br>
            {% if review_exists == True %}
            <p>You Have Already Rated This game!</p>
            {% else %}
            <a href="{% url 'rate' game_data.id %}" class="waves-effect waves-light btn game-btn">Rate</a>
            {% endif %}
            <a href="{% url 'add_toplay' game_data.id %}" class="waves-effect waves-light btn game-btn">Add to Play</a>
            <a href="{% url 'remove_toplay' game_data.id %}" class="waves-effect waves-light btn red game-btn">X</a>
            <a href="{% url 'add_toplayed' game_data.id %}" class="waves-effect waves-light btn game-btn">Add to
                Played</a>
            <a href="{% url 'remove_played' game_data.id %}" class="waves-effect waves-light btn red game-btn">X</a>
        </div>
    </div>
</div>
<div class="divider"></div>

<div class="row">
    <div class="col-lg-8 mt-3 offset-md-2">
        <h2 class="center">Reviews</h2>
        <div class="card">
            <div class="card-content">
                <ul class="collection">
                    {% for review in reviews %}
                    <li class="collection-item avatar">
                        <img src="{{ review.user.profile.profile_image.url }}" alt="Profile Picture" class="circle">
                        <span class="title"><b>{{ review.user.profile.first_name }}
                                {{ review.user.profile.last_name }}</b></span>
                        <p>@{{ review.user.username }}</p>
                        <p>{{ review.date }}</p>
                        <br>
                        <p>{{ review.text|truncatewords:80 }}</p>
                        <br>
                        <a href="{% url 'view_review' game_data.id review.user.username %}" class="btn">View Review</a>
                        <p class="secondary-content">{{ review.rate }} / 10</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}