{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page container -->
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if review_exists == True %}
            <!-- Error if user has already made a review -->
            <h2 class="center">You Have Already Reviewed This Game!</h2>
            {% else %}
            <br>
            <!-- Game name -->
            <h3 class="card-title text-center ">Review for {{ game.name }}</h3>
            <br>
            <form method="post" action="" role="form">
                <!-- Form to write/score game review -->
                {% csrf_token %}
                <div class="input-field">
                    {{ form.rate }}
                </div>
                <div class="input-field">
                    {{ form.text }}
                    <label for="textarea1">Review</label>
                    <button type="submit" name="action" class="waves-effect waves-light btn">Rate</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}