{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="parallax-container parallax-search">
    <div class="parallax parallax-search"><img src="{% static 'img/overwatch.png' %}" alt="overwatch cover art"></div>
  </div>
  <div class="section">
    <div class="row container search-div center-header">
      <form class="col s12">
      <div class="input-field col s12">
        <h2>Search:</h2>
        <input type="text" placeholder="Start typing..." id="query" name="query" value="{{ request.GET.query }}" required>
        <button type="submit" name="action" class="waves-effect waves-light btn">Find a game!</button>
      </div>
      </form>
    </div>
  </div>
    <div class="parallax-container parallax-search">
    <div class="parallax parallax-search"><img src="{% static 'img/apex-legends.png' %}" alt="apex legends cover art"></div>
  </div>

  
{% endblock %}